@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Ẩn icon con mắt mặc định của trình duyệt trong các ô input mật khẩu */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-reveal,
input[type="password"]::-webkit-clear-button {
  display: none !important;
}
